story-sign.34.56.135.222.nip.io {
    reverse_proxy /ws/* backend:8000
    handle_path /api/* {
        reverse_proxy backend:8000
    }
    reverse_proxy /history backend:8000
    reverse_proxy /analyze_session backend:8000
    log

    handle {
        reverse_proxy frontend:80
    }
}
