localhost:80 {
    reverse_proxy /ws/* backend:8000
    handle_path /api/* {
        reverse_proxy backend:8000
    }
    reverse_proxy /history backend:8000
    reverse_proxy /analyze_session backend:8000
    reverse_proxy frontend:80 {
        header_up Host {upstream_hostport}
    }
}
